fastapi==0.110.1
uvicorn==0.25.0
python-dotenv>=1.0.1
pydantic>=2.6.4
email-validator>=2.2.0
pyjwt[crypto]>=2.10.1
tzdata>=2024.2
asyncpg==0.30.0
httpx>=0.27.0
openai==1.55.3
cryptography>=42.0.8
stripe==15.1.0
python-multipart==0.0.28
